.websiteOffering__container {
    background: var(--text);
}

.websiteOffering__header {
    color: var(--background);
    font-size: 3vw;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.websiteOffering__subcontainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 6vw;
}

.websiteOffering__left--paragraph {
    color: var(--background);
    font-size: 1.5vw;
    line-height: 2.5vw;
    margin-bottom: 1vw;
}

.websiteOffering__left--paragraph a {
    all: unset;
    cursor: pointer;
    color: var(--secondary);
    transition: .5s;
}

.websiteOffering__left--paragraph a:hover {
    color: var(--primary);
}

.websiteOffering__left--ul {
    list-style: none;
}

.websiteOffering__left--li {
    display: flex;
    color: var(--background);
    font-size: 1.5vw;
    gap: 1vw;
    margin-bottom: 1vw;
}

.websiteOffering__left--button {
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    padding: .75vw;
    font-weight: 300;
    color: var(--background);
    border: solid .1vw var(--primary);
}

.websiteOffering__right--image {
    object-fit: contain;
    border-radius: .25vw;
    box-shadow: 3vw 3vw var(--darker-background);
}

@media (max-width: 1000px) {
    .websiteOffering__header {
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .websiteOffering__subcontainer {
        width: 90%;
        gap: 3rem;
    }
    
    .websiteOffering__left--paragraph {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    .websiteOffering__left--li {
        font-size: 1.5rem;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    .websiteOffering__left--button {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: .75rem;
    }
    
    .websiteOffering__right--image {
        border-radius: .25rem;
        box-shadow: .25rem .25rem var(--darker-background);
    }
}

@media (max-width: 750px) {
    .websiteOffering__subcontainer {
        flex-direction: column-reverse;
    }
}

@media (max-width: 500px) {
    .websiteOffering__header {
        font-size: 2.5rem;
    }
    
    .websiteOffering__subcontainer {
        width: 95%;
        gap: 2rem;
    }
    
    .websiteOffering__left--paragraph {
        font-size: 1.25rem;
        line-height: 2.25rem;
        margin-bottom: 1rem;
    }

    .websiteOffering__left--li {
        font-size: 1.25rem;
        gap: 1rem;
        margin-bottom: .5rem;
    }

    
    .websiteOffering__left--button {
        font-size: 1.25rem;
        margin-top: .5rem;
        margin-bottom: 2rem;
        padding: .75rem;
    }
}

@media (max-width: 375px) {
    .websiteOffering__header {
        font-size: 2rem;
    }
    
    .websiteOffering__subcontainer {
        width: 95%;
        gap: 1rem;
    }
    
    .websiteOffering__left--paragraph {
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: .5rem;
    }

    .websiteOffering__left--li {
        font-size: 1rem;
        gap: 1rem;
        margin-bottom: .25rem;
    }

    
    .websiteOffering__left--button {
        font-size: 1rem;
        margin-top: .5rem;
        margin-bottom: 2rem;
        padding: .5rem;
    }
}