.blog__container {
    background: var(--background);
    padding-bottom: 6vw;
}

.blog__border--bottom {
    width: 100%;
    border-bottom: .15vw solid var(--darker-background);
    padding-bottom: 1vw;
    background: var(--secondary-accent);
    position: fixed;
    padding-top: 1vw;
    opacity: .98;
}

.blog__subcontainer {
    width: 60%;
    margin: auto;
}

.blog__container--header {
    margin-bottom: 1vw;
    font-size: 1.25vw;
    font-weight: 200;
    color: var(--darker-background);
}

.blog__category--container {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    gap: 3vw;
    flex-grow: 1;
    overflow-x: scroll;
}

.blog__category--container::-webkit-scrollbar {
    background: transparent;
    height: .5rem;
}

.blog__category--container::-webkit-scrollbar-thumb {
    background: var(--darker-background);
    border-radius: 1rem;
}

.blog__category--link {
    all: unset;
    color: var(--darker-background);
    font-size: 1vw;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
    text-align: center;
}

.blog__category--link:hover {
    color: var(--accent-background);
}

.blogCover__container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    gap: 2vw;
    width: 60%;
    margin: auto;
    padding-top: 12vw;
}

.blog__cover {
    width: 20vw;
    border-radius: .25vw;
    background: var(--darker-background);
    cursor: pointer;
    padding-bottom: 1vw;
    transition: .5s;
    box-shadow: .1vw .1vw 1vw .1vw transparent;
}

.blog__cover:hover {
    background: var(--text);
    box-shadow: .1vw .1vw 1vw .1vw var(--tertiary);
}

.blog__cover--image {
    width: 20vw;
    height: 12vw;
    object-fit: contain;
    object-position: center;
    border-top-right-radius: .25vw;
    border-top-left-radius: .25vw;
    border-bottom: .15vw solid var(--secondary);
}

.blog__cover--title {
    text-align: center;
    padding: 1vw;
    color: var(--background);
    font-size: 1vw;
    line-height: 1.75vw;
    font-weight: 600;
}

.blog__cover svg {
    width: 4vw;
    margin: auto;
}

@media (max-width: 1200px) {
    .blog__container {
        padding-bottom: 6rem;
    }
    
    .blog__border--bottom {
        width: 100%;
        border-bottom: .15rem solid var(--darker-background);
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    
    .blog__subcontainer {
        width: 90%;
    }
    
    .blog__container--header {
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }
    
    .blog__category--container {
        gap: 3rem;
    }
    
    .blog__category--link {
        font-size: 1rem;
    }
    
    .blogCover__container {
        gap: 1rem;
        width: 90%;
        padding-top: 10rem;
    }
    
    .blog__cover {
        width: auto;
        border-radius: .25rem;
        padding-bottom: 1rem;
        transition: .5s;
        box-shadow: .1rem .1rem 1rem .1rem transparent;
    }
    
    .blog__cover:hover {
        box-shadow: .1rem .1rem 1rem .1rem var(--tertiary);
    }
    
    .blog__cover--image {
        width: 100%;
        height: auto;
        border-top-right-radius: .25rem;
        border-top-left-radius: .25rem;
        border-bottom: .15rem solid var(--secondary);
    }
    
    .blog__cover--title {
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.75rem;
    }
    
    .blog__cover svg {
        width: 4rem;
        margin: auto;
    }
}

@media (max-width: 900px) {
    .blog__container {
        padding-bottom: 6rem;
    }
    
    .blog__subcontainer {
        width: 95%;
    }
    
    .blog__container--header {
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    
    .blog__category--container {
        gap: 2rem;
    }
    
    .blog__category--link {
        font-size: 1rem;
    }

    .blogCover__container {
        gap: 1rem;
        grid-template-columns: repeat(2, 50%);
        width: 95%;
    }
}

@media (max-width: 500px) {
    .blogCover__container {
        grid-template-columns: repeat(1, auto);
    }

    .blog__container--header {
        font-size: .9rem;
    }
    
    .blog__category--link {
        font-size: .8rem;
    }
}