.navbar__sticky--container {
    position: sticky;
    top: 0;
    z-index: 97;
    opacity: .98;
}

.navbar__disclaimer {
    background: var(--secondary-accent);
    padding-top: .25vw;
    padding-bottom: .25vw;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: center;
    gap: 1vw;
    vertical-align: center;
    padding-top: .5vw;
    padding-bottom: .5vw;
}

.navbar__disclaimer--button {
    all: unset;
    background: var(--primary);
    border-radius: 100%;
    color: var(--background);
    padding-left: .5vw;
    padding-right: .5vw;
    transition: .5s;
    font-size: 1vw;
    font-weight: 300;
}

.navbar__disclaimer--button:hover {
    background: var(--accent);
}

.navbar__disclaimer--header {
    color: var(--text);
    font-weight: 600;
    font-size: 1vw;
}

.navbar__disclaimer--header span {
    font-weight: 300;
}

.navbar__container {
    margin: auto;
    background: transparent;
    display: grid;
    flex-grow: 1;
    justify-content: center;
    vertical-align: center;
    grid-template-columns: repeat(6, auto);
    gap: 5vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    z-index: 99;
    background: var(--primary);
    border-bottom: .25vw solid var(--secondary);
    position: relative;
}

.navbar__link {
    font-size: 1vw;
    margin: auto;
    padding: .5vw;
    border-radius: .5vw;
    color: var(--background);
    font-weight: 600;
    text-align: center;
}

.navbar__link svg {
    transition: .2s;
    cursor: pointer;
}

.navbar__link svg:hover {
    stroke: var(--secondary);
}

.navbar__button--container {
    display: flex;
    justify-content: flex-start;
    gap: .10vw;
}

.navbar__button--container:hover > .navbar__button,
.navbar__button--container:hover > svg {
    color: var(--secondary);
}

.navbar__button--container:hover > svg {
    transform: rotateZ(180deg);
    stroke: var(--secondary);
}

.navbar__button {
    font-size: 1vw;
    margin: auto;
    color: var(--background);
    font-weight: 600;
    text-align: center;
    transition: .2s ease;
}

.navbar__button:hover {
    color: var(--secondary);
}

.navbar__button--container svg {
    width: .75vw;
    margin: auto;
    transition: .2s ease;
}

.navbar__button:hover + svg {
    transform: rotateZ(180deg);
    stroke: var(--secondary);
}

.navbar__title {
    margin: auto;
    font-size: .75vw;
    color: var(--background);
}

.navbar__title--span {
    transition: .5s ease-in-out;
}

.navbar__link:hover {
    color: var(--secondary);
}

.navbar__link svg {
    height: 3vw;
    cursor: pointer;
    transition: .5s ease-in-out;
    margin: auto;
}

.hidden__link--container {
    position: absolute;
    background: var(--background);
    display: flex;
    gap: 3vw;
    top: 4vw;
    box-shadow: .05vw .05vw .25vw var(--darker-background);
    padding: .5vw;
    border-top: .25vw solid var(--secondary);
    border-radius: .25vw;
    transition: .2s;
    opacity: .98;
    z-index: 100;
}

.hidden {
    display: none;
}

.hidden__link--header {
    font-size: 1.1vw;
    color: var(--primary);
    font-weight: 200;
    padding: .5vw;
}

.hidden__link--subcontainer__subcontainer {
    margin-top: 1vw;
    cursor: pointer;
    border-radius: .25vw;
    background: var(--background);
    border: .1vw solid transparent;
    padding: .5vw;
    transition: .5s;
}

.hidden__link--subcontainer__subcontainer:hover {
    background: var(--secondary-accent);
    border: .1vw solid var(--tertiary);
}

.hidden__link--subheader {
    font-size: 1vw;
    font-weight: 600;
    color: var(--darker-background);
    margin-bottom: .25vw;
}

.hidden__link--paragraph {
    font-size: .9vw;
    font-weight: 500;
    color: var(--text);
}