.login__container {
    background: var(--darker-background);
    padding-top: 6vw;
    padding-bottom: 6vw;
}

.login__container--paragraph {
    color: var(--background);
    text-align: center;
    font-weight: 200;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;
}

.login__container--subparagraph {
    color: var(--background);
    text-align: center;
    font-weight: 200;
    margin-bottom: 1rem;
    font-size: 1.15rem;
}

.login__container--paragraph span {
    color: var(--tertiary);
    font-weight: 800;
}

.login__container--subparagraph span {
    color: var(--quaternary);
    font-weight: 800;
}

.login__container--subparagraph a {
    color: var(--quinary);
    font-weight: 800;
}

.login__container svg {
    width: 4vw;
    margin: auto;
}

.authentication__container {
    width: 15%;
    margin: auto;
}

.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-iwjZXY-color-default {
    display: grid;
    direction: row;
    justify-content: center;
    background: var(--accent-background);
    color: var(--background);
    transition: .5s;
    border: .01vw solid var(--text);
    padding: .5vw;
    border-radius: .25vw;
    font-size: .75vw;
    font-weight: 600;
}

.authentication__subcontainer button svg {
    fill: var(--background);
}

.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-iwjZXY-color-default:hover {
    background: var(--text);
    border: .01vw solid var(--background);
}

/* Divider */
.supabase-auth-ui_ui-divider.c-kbVGyA {
    background: var(--text);
}

/* Label */
.supabase-auth-ui_ui-label.c-bpexlo {
    font-size: .75vw;
    color: var(--accent);
    font-weight: 800;
    margin-bottom: .25vw;
}

/* Input */
.supabase-auth-ui_ui-input.c-dEnagJ {
    background: var(--accent-background);
    border: .01vw solid var(--text);
    transition: .5s;
    color: var(--background);
    border-radius: .25vw;
    padding: .5vw;
    font-size: .75vw;
}

.supabase-auth-ui_ui-input.c-dEnagJ::placeholder {
    color: var(--secondary-accent);
    font-size: .75vw;
}

.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary {
    background: var(--accent-background);
    border: .01vw solid var(--text);
    transition: .5s;
    color: var(--background);
    border-radius: .25vw;
    padding: .5vw;
    font-size: .75vw;
    font-weight: 600;
}

.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary:hover {
    background: var(--text);
    border: .01vw solid var(--background);
}

/* Link Container */
.supabase-auth-ui_ui-container.c-jTXIoq.c-jTXIoq-bsgKCL-direction-vertical.c-jTXIoq-jjTuOt-gap-small {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

/* Link */
.supabase-auth-ui_ui-anchor.c-dumjqv {
    color: var(--secondary-accent);
    font-size: .75vw;
}

.supabase-auth-ui_ui-anchor.c-dumjqv:hover {
    color: var(--background);
}

@media (max-width: 1900px) {
    .login__container {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    
    .login__container svg {
        width: 5rem;
        margin: auto;
    }
    
    .authentication__container {
        width: 30%;
        margin: auto;
    }
    
    .supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-iwjZXY-color-default {
        display: grid;
        direction: row;
        justify-content: center;
        border: .01rem solid var(--text);
        padding: .5rem;
        border-radius: .25rem;
        font-size: 1rem;
    }
    
    .supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-iwjZXY-color-default:hover {
        border: .01rem solid var(--background);
    }
    
    /* Label */
    .supabase-auth-ui_ui-label.c-bpexlo {
        font-size: 1rem;
        margin-bottom: .25rem;
    }
    
    /* Input */
    .supabase-auth-ui_ui-input.c-dEnagJ {
        border: .01rem solid var(--text);
        border-radius: .25rem;
        padding: .5rem;
        font-size: 1rem;
    }
    
    .supabase-auth-ui_ui-input.c-dEnagJ::placeholder {
        font-size: 1rem;
    }
    
    .supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary {
        border: .01rem solid var(--text);
        border-radius: .25rem;
        padding: .5rem;
        font-size: 1rem;
    }
    
    .supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary:hover {
        border: .01rem solid var(--background);
    }
    
    /* Link Container */
    .supabase-auth-ui_ui-container.c-jTXIoq.c-jTXIoq-bsgKCL-direction-vertical.c-jTXIoq-jjTuOt-gap-small {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    /* Link */
    .supabase-auth-ui_ui-anchor.c-dumjqv {
        font-size: 1rem;
    }
}

@media (max-width: 1100px) {
    .authentication__container {
        width: 40%;
    }
}

@media (max-width: 750px) {
    .authentication__container {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .authentication__container {
        width: 95%;
    }
}