.privacyPolicy__container {
    width: 95%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.privacyPolicy__container h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.privacyPolicy__container section h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.privacyPolicy__container section p {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.privacyPolicy__container section ul {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.privacyPolicy__container section li {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
}
