.youTubeVideo__container {
    background: var(--darker-background);
    padding-bottom: 6rem;
}

.youTubeVideo__subcontainer {
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-columns: repeat(2, auto);
   width: 90%;
   margin: auto;
   gap: 3vw;
}

.youTubeVideo__link {
    background: var(--text);
    border-radius: .25rem;
    height: 35vw;
}

.youTubeVideo__video {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    height: 25vw;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;

}

.youTubeVideo__header {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    color: var(--background);
    font-weight: 800;
    font-size: 2vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
