.hero__container {
    margin: auto;
    width: auto;
    text-align: center;
    z-index: 50;
}

.hero__header {
    margin-top: 8vw;
    margin-bottom: -2vw;
    font-size: 6vw;
    font-weight: 300;
    color: var(--text);
}

.hero__header--span {
    transition: .5s ease-in-out;
    color: var(--background);
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero__subheader {
    font-size: 6vw;
    color: var(--text);
    transition: .5s ease-in-out;
    font-weight: 900;
}

.hero__paragraph {
    padding-top: 2vw;
    margin: auto;
    font-size: 2vw;
    width: 70vw;
    color: var(--text);
    font-weight: 500;
}

.hero__button--container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    vertical-align: center;
    gap: 2vw;
    margin-top: 2vw;
    margin-bottom: 15vw;
}

.hero__button {
    font-size: 1.5vw;
}

@media (max-width: 1000px) {
    .hero__header {
        margin-top: 8rem;
        margin-bottom: -1rem;
        font-size: 4rem;
    }

    .hero__subheader {
        font-size: 4rem;
    }

    .hero__paragraph {
        padding-top: 1.5rem;
        font-size: 1.5rem;
        width: 70%;
    }

    .hero__button--container {
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 15rem;
    }

    .hero__button {
        font-size: 1.5rem;
    }
}

@media (max-width: 850px) {
    .hero__header {
        font-size: 3.5rem;
    }
    
    .hero__subheader {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .hero__paragraph {
        font-size: 1.5rem;
        width: 90%;
    }
}

@media (max-width: 600px) {
    .hero__container {
        text-align: left;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .hero__header {
        line-height: 4.5rem;
    }

    .hero__header--span {
        padding-left: 0;
        padding-right: 0;
    }

    .hero__paragraph {
        width: 100%;
        font-size: 1.25rem;
    }

    .hero__button--container {
        gap: .5rem;
        margin-top: 2rem;
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero__button {
        font-size: 1.5rem;
        margin-bottom: 15rem;
        margin: auto;
        font-size: 1.25rem;
        width: 100%;
    }
}

@media (max-width: 375px) {

    .hero__header {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 0;
    }

    .hero__subheader {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .hero__paragraph {
        font-size: 1rem;
    }

    .hero__button {
        font-size: 1rem;
    }
}
