@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: inter, acumin-pro, sans-serif;

  --text: #001234;
  --accent-background: #3c465b;
  --darker-background: #000818;
  --background: #e6ecf4;
  --primary: #6A8ABE;
  --secondary: #ff6e61;
  --tertiary: #ffa9a1;
  --quaternary: #6973ff;
  --quinary: #a1d8ff;
  --accent: #435f9c;
  --secondary-accent: #d0e1f6;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

html {
  background: var(--background);
}

::-webkit-scrollbar {
  background: var(--background);
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 1rem;
}

a {
  color: var(--accent);
  cursor: pointer;
  transition: .5s ease-in-out;
}

a:hover {
  color: var(--text);
}

button {
  font-weight: 500;
  cursor: pointer;
  border-radius: .25vw;
  padding: .5vw;
  transition: .5s ease-in-out;
}

.button__primary {
  border: .15vw solid var(--primary);
  color: var(--primary);
  background: transparent;
  box-shadow: .1vw .1vw 1vw transparent;
}

.button__primary:hover {
  box-shadow: .1vw .1vw 1vw var(--primary);
}

.button__secondary {
  color: var(--background);
  background: var(--text);
  border: .15vw solid var(--text);
  box-shadow: .1vw .1vw 1vw transparent;
}

.button__secondary:hover {
  box-shadow: .1vw .1vw 1vw var(--text);
}

.button__tertiary {
  color: var(--text);
  background: var(--tertiary);
  border: .15vw solid var(--tertiary);
  box-shadow: .1vw .1vw 1vw transparent;
}

.button__tertiary:hover {
  box-shadow: .1vw .1vw 1vw var(--tertiary);
}

.button__quaternary {
  color: var(--text);
  background: var(--quaternary);
  border: .15vw solid var(--quaternary);
  box-shadow: .1vw .1vw 1vw transparent;
}

.button__quaternary:hover {
  box-shadow: .1vw .1vw 1vw var(--quaternary);
}

.button__quinary {
  color: var(--text);
  background: var(--quinary);
  border: .15vw solid var(--quinary);
  box-shadow: .1vw .1vw 1vw transparent;
}

.button__quaternary:hover {
  box-shadow: .1vw .1vw 1vw var(--quinary);
}

@media (max-width: 1000px) {
  button {
    border-radius: .25rem;
    padding: .5rem;
  }

  .button__primary {
    border: .15rem solid var(--primary);
    box-shadow: .1rem .1rem 1rem transparent;
  }
  
  .button__primary:hover {
    box-shadow: .1rem .1rem 1rem var(--primary);
  }
  
  .button__secondary {
    border: .15rem solid var(--text);
    box-shadow: .1rem .1rem 1rem transparent;
  }
  
  .button__secondary:hover {
    box-shadow: .1rem .1rem 1rem var(--text);
  }
  
  .button__tertiary {
    border: .15rem solid var(--tertiary);
    box-shadow: .1rem .1rem 1rem transparent;
  }
  
  .button__tertiary:hover {
    box-shadow: .1rem .1rem 1rem var(--tertiary);
  }

  .button__quaternary {
    border: .15rem solid var(--quaternary);
    box-shadow: .1rem .1rem 1rem transparent;
  }
  
  .button__quaternary:hover {
    box-shadow: .1rem .1rem 1rem var(--quaternary);
  }
}

noscript img,
.facebook-image {
  height: 1;
  width: 1;
  display: none;
}