.getPricing__section {
    background: var(--darker-background);
    display: flex;
    color: var(--background);
}

.getPricing__container {
    margin-top: 6vw;
    margin-bottom: 6vw;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.getPricing__subcontainer {
    text-align: center;
}

.getPricing__header {
    font-size: 4vw;
    color: var(--background);
    font-weight: 800;
    margin-bottom: 1vw;
}

.getPricing__paragraph {
    color: var(--secondary-accent);
    font-size: 2vw;
    width: 60%;
    margin: auto;
    font-weight: 200;
    margin-bottom: 2vw;
}

.getPricing__paragraph--span {
    color: var(--secondary);
    font-weight: 600;
    font-size: 2vw;
}

.getPricing__link {
    color: var(--tertiary);
    font-size: 1.75vw;
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
}

.getPricing__link:hover {
    color: var(--secondary);
}

.getPricing__mainPricing--container {
    display: inline-block;
    margin: auto;
    background: var(--accent-background);
    padding-top: .5vw;
    padding-bottom: .5vw;
    padding-right: .25vw;
    padding-left: .25vw;
    border-radius: .25vw;
    border: .1vw solid var(--primary);
}

.button__billingInterval {
    font-size: 1vw;
    font-weight: 600;
    color: var(--secondary-accent);
    margin-right: .25vw;
    margin-left: .25vw;
    transition: .25s;
    border-radius: .25vw;
}

.button__billingInterval--active {
    color: var(--text);
    background: var(--secondary);
    border: .15vw solid var(--text);
    border-radius: .25vw;
}

.button__billingInterval--inactive {
    border: .15vw solid transparent;
    border-radius: .25vw;
}

