.getPricing__section {
    background: var(--darker-background);
    display: flex;
    color: var(--background);
}

.getPricing__container {
    margin-top: 6vw;
    margin-bottom: 6vw;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.getPricing__subcontainer {
    text-align: center;
}

.getPricing__header {
    font-size: 4vw;
    color: var(--background);
    font-weight: 800;
    margin-bottom: 1vw;
}

.getPricing__paragraph {
    color: var(--secondary-accent);
    font-size: 2vw;
    width: 60%;
    margin: auto;
    font-weight: 200;
    margin-bottom: 2vw;
}

.getPricing__paragraph--span {
    color: var(--secondary);
    font-weight: 600;
    font-size: 2vw;
}

.getPricing__link {
    color: var(--tertiary);
    font-size: 1.75vw;
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
}

.getPricing__link:hover {
    color: var(--secondary);
}

.getPricing__mainPricing--container {
    display: inline-block;
    margin: auto;
    background: var(--accent-background);
    padding-top: .5vw;
    padding-bottom: .5vw;
    padding-right: .25vw;
    padding-left: .25vw;
    border-radius: .25vw;
    border: .1vw solid var(--primary);
}

.button__billingInterval {
    font-size: 1.15vw;
    font-weight: 600;
    color: var(--primary);
    margin-right: .25vw;
    margin-left: .25vw;
    transition: .25s;
    border-radius: .25vw;
}

.button__billingInterval--active {
    color: var(--secondary-accent);
    background: var(--text);
    border: .1vw solid var(--secondary);
    border-radius: .25vw;
}

.button__billingInterval--inactive {
    border: .1vw solid transparent;
    border-radius: .25vw;
}

.getPricing__product {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
    margin: auto;
    text-align: left;
    width: 80%;
    gap: 1.5vw;
}

.getPricing__product--container {
    width: 30%;
    background: var(--accent-background);
    padding: 1vw;
    border-radius: .25vw;
    cursor: pointer;
    box-shadow: .1vw .1vw 1vw .1vw transparent;
    border: .1vw solid transparent;
    transition: .5s;
}

.getPricing__product--container:hover {
    border: .1vw solid var(--secondary);
    box-shadow: .1vw .1vw 1vw .1vw var(--tertiary);
}

.getPricing__product--header {
    font-size: 2vw;
    font-weight: 800;
    margin-bottom: 1vw;
    color: var(--primary);
}

.getPricing__product--description {
    font-size: 1vw;
    font-weight: 200;
    line-height: 1.75vw;
    margin-bottom: .5vw;
}

.getPricing__product--pricing__container {
    margin-bottom: .5vw;
}

.getPricing__product--pricing {
    font-size: 4vw;
    font-weight: 900;
    color: var(--secondary);
}

.getPricing__product--billingInterval {
    color: var(--tertiary);
    font-size: 2vw;
    font-weight: 200;
}

.getPricing__subscription--button {
    margin: auto;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    border-radius: .25vw;
    padding: .5vw;
    transition: .5s ease-in-out;
    border: .15vw solid var(--primary);
    color: var(--primary);
    background: transparent;
    outline: none;
}

.getPricing__subscription--button:hover,
.getPricing__subscription--button:active,
.getPricing__subscription--button:focus {
    box-shadow: .1vw .1vw 1vw var(--primary);
    background: transparent;
    border: .15vw solid var(--primary);
    color: var(--primary);
    outline: none;
}

@media (max-width: 1200px) {
    .getPricing__section {
        display: flex;
    }
    
    .getPricing__container {
        margin-top: 6rem;
        margin-bottom: 6rem;
        width: 100%;
    }
    
    .getPricing__header {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    
    .getPricing__paragraph {
        font-size: 2rem;
        width: 60%;
        margin-bottom: 2rem;
    }
    
    .getPricing__paragraph--span {
        font-size: 2rem;
    }
    
    .getPricing__link {
        font-size: 1.75rem;
    }
    
    .getPricing__mainPricing--container {
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: .25rem;
        padding-left: .25rem;
        border-radius: .25rem;
        border: .1rem solid var(--primary);
    }
    
    .button__billingInterval {
        font-size: 1.15rem;
        margin-right: .25rem;
        margin-left: .25rem;
        border-radius: .25rem;
    }
    
    .button__billingInterval--active {
        border: .1rem solid var(--secondary);
        border-radius: .25rem;
    }
    
    .button__billingInterval--inactive {
        border: .1rem solid transparent;
        border-radius: .25rem;
    }
    
    .getPricing__product {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        width: 80%;
        gap: 1.5rem;
    }
    
    .getPricing__product--container {
        width: 60%;
        padding: 1rem;
        border-radius: .25rem;
        box-shadow: .1rem .1rem 1rem .1rem transparent;
        border: .1rem solid transparent;
    }
    
    .getPricing__product--container:hover {
        border: .1rem solid var(--secondary);
        box-shadow: .1rem .1rem 1rem .1rem var(--tertiary);
    }
    
    .getPricing__product--header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .getPricing__product--description {
        font-size: 1rem;
        line-height: 1.75rem;
        margin-bottom: .5rem;
    }
    
    .getPricing__product--pricing__container {
        margin-bottom: .5rem;
    }
    
    .getPricing__product--pricing {
        font-size: 4rem;
    }
    
    .getPricing__product--billingInterval {
        font-size: 2rem;
    }
    
    .getPricing__subscription--button {
        width: 100%;
        border-radius: .25rem;
        padding: .5rem;
        border: .15rem solid var(--primary);
    }
    
    .getPricing__subscription--button:hover,
    .getPricing__subscription--button:active,
    .getPricing__subscription--button:focus {
        box-shadow: .1rem .1rem 1rem var(--primary);
        border: .15rem solid var(--primary);
    }
}

@media (max-width: 1000px) {
    .getPricing__product--container {
        padding: .5rem;
        border-radius: .25rem;
        box-shadow: .1rem .1rem 1rem .1rem transparent;
        border: .1rem solid transparent;
        margin: auto;
        width: auto;
    }

    .getPricing__product {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 3rem;
        width: 95%;
        gap: 1rem;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .getPricing__header {
        font-size: 4rem;
        margin-bottom: 1rem;
        text-align: left;
        margin: auto;
        width: 95%;
    }
    
    .getPricing__paragraph {
        font-size: 2rem;
        width: 95%;
        margin-bottom: 2rem;
        text-align: left;
    }

    .getPricing__mainPricing--container {
        text-align: left;
        width: 90%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .getPricing__product--pricing {
        font-size: 3rem;
    }
    
    .getPricing__product--billingInterval {
        font-size: 1.5rem;
    }
}
