.pricingComparison__container {
    background: var(--darker-background);
    color: var(--background);
}

.pricingComparison__header {
    text-align: center;
    padding-bottom: 3vw;
    color: var(--background);
    font-size: 4vw;
    font-weight: 800;
}

.pricingComparison__subcontainer {
    width: 95%;
    margin: auto;
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(4, auto);
=======
    grid-template-columns: repeat(3, auto);
>>>>>>> 5be521a (made some changes to the pricing page)
    text-align: center;
    row-gap: 3vw;

}

[data-left-column] {
    text-align: left;
}

.pricingComparison__plan--header {
    font-size: 2vw;
    font-weight: 800;
    color: var(--background);
    border-bottom: .05vw solid var(--primary);
    padding: 1vw;
}

.pricingComparison__plan--subheader {
    font-size: 1.5vw;
    font-weight: 200;
    color: var(--secondary-accent);
    border-bottom: .05vw solid var(--primary);
    padding: 1vw;
}

.pricingComparison__plan--subheader span {
    font-weight: 800;
    color: var(--tertiary);
    font-size: 1vw;
}

.top__row--header {
    color: var(--tertiary)
}

@media (max-width: 1000px) {
    .pricingComparison__container {
        overflow-x: scroll;
    }

    .pricingComparison__container::-webkit-scrollbar {
        background: transparent;
        height: .5rem;
    }

    .pricingComparison__container::-webkit-scrollbar-thumb {
        background: var(--darker-background);
        border-radius: 1rem;
    } 

    .pricingComparison__header {
        padding-bottom: 3rem;
        font-size: 4rem;
        text-align: left;
        width: 95%;
        margin: auto;
    }

    .pricingComparison__subcontainer {
        row-gap: 3rem;
    }

    .pricingComparison__plan--header {
        font-size: 2rem;
        border-bottom: .05rem solid var(--primary);
        padding: 1rem;
    }

    .pricingComparison__plan--subheader {
        font-size: 1.5rem;
        border-bottom: .05rem solid var(--primary);
        padding: 1rem;
    }

    .pricingComparison__plan--subheader span {
        font-size: 1rem;
    }
}
