.data__container {
    padding-top: 6vw;
    padding-bottom: 6vw;
}

.data__header {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--primary);
    text-align: center;
}

.data__subheader {
    text-align: center;
    font-size: 2.5vw;
    font-weight: 800;
    color: var(--text);
    width: 50%;
    margin: auto;
}

.data__paragraph {
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--primary);
    line-height: 2.75vw;
    text-align: center;
    width: 45%;
    margin: auto;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

.data__button--container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

.data__button {
    font-size: 1.25vw;
}

.data__image {
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    obejct-fit: cover;
    object-position: center;
    border-radius: .25vw;
}

.data__columns--container {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-top: 3vw;
    width: 80%;
    margin: auto;
}

.data__columns--subcontainer {
    display: flex;
    justify-content: flex-start;
    gap: .25vw;
    flex-direction: column;
}

.data__columns--header {
    font-size: 1.75vw;
    font-weight: 800;
    color: var(--text);
}

.data__columns--paragraph {
    font-size: 1.15vw;
    font-weight: 400;
    color: var(--text);
    line-height: 2.15vw;
}

@media (max-width: 1000px) {
    .data__container {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .data__header {
        font-size: 1.5rem;
    }

    .data__subheader {
        font-size: 2.5rem;
        width: 80%;
    }

    .data__paragraph {
        font-size: 1.5rem;
        width: 80%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        line-height: 2.25rem;
    }

    .data__button--container {
        gap: 1.5rem;
    }

    .data__button {
        font-size: 1.25rem;
    }

    .data__image {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 80%;
        border-radius: .25rem;
    }

    .data__columns--container {
        gap: 1rem;
        padding-top: 3rem;
        width: 95%;
    }

    .data__columns--subcontainer {
        gap: .25rem;
    }

    .data__columns--header {
        font-size: 1.75rem;
    }

    .data__columns--paragraph {
        font-size: 1.15rem;
        line-height: 2.15rem;
    }
}

@media (max-width: 850px) {
    .data__columns--header {
        font-size: 1.5rem;
    }

    .data__columns--paragraph {
        font-size: 1rem;
        line-height: 2rem;
    }

    .data__columns--container {
        padding-top: 1.5rem;
        width: 95%;
        flex-direction: column;
    }

    .data__image {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        width: 95%;
    }
    
    .data__subheader {
        font-size: 2.25rem;
        width: 95%;
    }

    .data__paragraph {
        font-size: 1.25rem;
        width: 95%;
        line-height: 2.25rem;
    }
}

@media (max-width: 550px) {
    .data__columns--header {
        font-size: 1.25rem;
        text-align: left;
    }

    .data__columns--paragraph {
        line-height: 1.75rem;
        text-align: left;
    }

    .data__header {
        font-size: 1.25rem;
        text-align: left;
        width: 95%;
        margin: auto;
    }
    
    .data__subheader {
        font-size: 2rem;
        text-align: left;
        width: 95%;
        margin: auto;
    }

    .data__paragraph {
        font-size: 1rem;
        width: 95%;
        line-height: 2.25rem;
        text-align: left;
        width: 95%;
        margin: auto;
    }

    .data__button--container {
        flex-direction: column;
        gap: .5rem;
    }

    .data__button--link {
        width: 95%;
        margin: auto;
    }

    .data__button {
        font-size: 1rem;
        width: 100%;
        margin: auto;
    }

    .data__container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media (max-width: 350px) {
    .data__subheader {
        font-size: 1.5rem;
    }
}
