.techSupport__container {
    margin-top: 6vw;
    margin-bottom: 6vw;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.techSupport__title--subcontainer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.techSupport__components--subcontainer {
    display: flex;
    align-items: flex-start;
    vertical-align: flex-start;
    justify-content: center;
    gap: 2vw;
}

.techSupport__route--container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: .50vw;
}

.techSupport__route--link {
    all: unset;
    font-family: var(--font-family);
    font-size: 1vw;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    color: var(--text);
}

.techSupport__route--link:hover {
    color: var(--primary);
}

.techSupport__route--slash {
    font-size: 1vw;
    font-weight: 800;
    color: var(--text);
}

.techSupport__route--page {
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text);
}

.techSupport__header {
    font-size: 4vw;
    font-weight: 200;
    color: var(--secondary);
    text-align: left;
}

.techSupport__paragraph {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1.75vw;
    color: var(--text);
    text-align: left;
}

@media (max-width: 1200px) {
    .techSupport__container {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    
    .techSupport__title--subcontainer {
        margin-bottom: 3rem;
    }

    .techSupport__components--subcontainer {
        gap: 1.5rem;
        flex-direction: column-reverse;
    }
    
    .techSupport__route--container {
        gap: .50rem;
    }
    
    .techSupport__route--link {
        font-size: 1rem;
    }
    
    .techSupport__route--slash {
        font-size: 1rem;
    }
    
    .techSupport__route--page {
        font-size: 1rem;
    }
    
    .techSupport__header {
        font-size: 4rem;
    }

    .techSupport__paragraph {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}

@media(max-width: 900px) {
    .techSupport__title--subcontainer {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .techSupport__route--container {
        justify-content: flex-start;
    }

    .techSupport__paragraph {
        margin-top: 0rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 675px) {
    .techSupport__header {
        font-size: 3rem;
    }

    .techSupport__paragraph {
        font-size: 1.25rem;
    }
}

@media (max-width: 500px) {
    .techSupport__container {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .techSupport__header {
        font-size: 2rem;
    }

    .techSupport__paragraph {
        font-size: 1rem;
    }
}